.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ctrl-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.date {
  color: #333;
}

.slider-wrapper {
  height: 48px;
  min-width: 400px;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  margin: 0 10px 20px 10px;
}

.rangeslider-horizontal {
  width: 92%;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #f3c11b !important;
}

.rangeslider-horizontal .rangeslider__handle {
  border-radius: 3px !important;
  height: 26px !important;
  width: 12px !important;
}

.rangeslider-horizontal .rangeslider__handle::after {
  content: none !important;
}

.play-pause-btn {
  box-sizing: border-box;
  height: 20px;
  border-color: transparent transparent transparent #333;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  outline: none;
}

.play-pause-btn.pause {
  border-style: double;
  border-width: 0px 0 0px 15px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
  width: 90%;
}

.data-notice {
  font-size: 0.85rem;
  color: #333;
}

.legend {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #333;
  padding: 15px;
}

.legend-row {
  display: flex;
  align-items: center;
  height: 5px;
  margin: 7px;
}

.step {
  height: 13px;
  width: 13px;
  border-radius: 3px;
  margin-right: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.step.first {
  background-color: #fff;
}

.step.second {
  background-color: #f1f1cd;
}

.step.third {
  background-color: #eed78d;
}

.step.fourth {
  background-color: #f3c11b;
}

.step.fifth {
  background-color: #da9c20;
}

.step.sixth {
  background-color: #cf8124;
}

.step.seventh {
  background-color: #cb682c;
}

.step.eigth {
  background-color: #7b2320;
}

.step.nineth {
  background-color: #591302;
}
