.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ctrl-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.date {
  color: #333;
}

.slider-wrapper {
  height: 48px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  margin: 0 10px 20px 10px;
}

.rangeslider-horizontal {
  width: 92%;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #fd8d3c !important;
  /* background: linear-gradient(
    0.25turn,
    #fff5eb,
    #fee6ce,
    #fdd0a2,
    #fdae6b,
    #fd8d3c,
    #f16913,
    #d94801,
    #a63603,
    #7f2704
  ) !important; */
}

.rangeslider-horizontal .rangeslider__handle {
  border-radius: 3px !important;
  height: 26px !important;
  width: 12px !important;
}

.rangeslider-horizontal .rangeslider__handle::after {
  content: none !important;
}

.play-pause-btn {
  box-sizing: border-box;
  height: 20px;
  border-color: transparent transparent transparent #333;
  background-color: transparent;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  outline: none;
}

.play-pause-btn.pause {
  border-style: double;
  border-width: 0px 0 0px 15px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
  width: 90%;
}

.data-notice {
  font-size: 0.85rem;
  color: #333;
}

.legend {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  color: #333;
  padding: 0 15px 15px;
  width: 90%;
}

.range {
  display: flex;
  justify-content: space-between;
}

.color-range {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-top: 3px;
  display: flex;
}
